<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Suite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js"></script>
	<script type="text/javascript" src="js/config.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
	<script type="text/javascript" src="js/suite.js"></script>
	<script type="text/javascript" src="js/model.js"></script>
	<script type="text/javascript" src="js/controllers/Tenant.js"></script>
	<script type="text/javascript" src="js/controllers/Registry.js"></script>
	<script type="text/javascript" src="js/controllers/Subscription.js"></script>
	<script id="services-template" type="text/template">
		<div class="panel-group" id="accordion">
		{{#services}}
			<div id={{url}} class="panel panel-default">
    			<div class="panel-heading">
        			<h4 class="panel-title">
            			<span class="cp" data-toggle="collapse" data-parent="#accordion" href="#collapse{{url}}">{{name}}</span>
						<span id="loading-{{url}}" class="dn pull-right glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        			</h4>
    			</div>
    			<div id="collapse{{url}}" class="panel-collapse collapse">
        			<div class="panel-body">
        			</div>
    			</div>
			</div>
		{{/services}}
		</div>
	</script>
</head>

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					Post Deployment Run
					<button id="run" type="button" class="pull-right btn btn-success btn-lg">Run Suite</button>
				</h1>
				
			</div>
			<div id="progress" class="dn progress active">
				<div class="progress-bar progress-success">
				</div>
			</div>
			<div id="alertBox" class="dn alert alert-dismissable alert-danger">
		      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h4>Error</h4>
	  			<p id="alertMessage"></p>
			</div>
			<div class="row clearfix">
				<div class="col-md-8 column">
						<pre id="config" contenteditable="true">
						</pre>
				</div>
				<div id="servicesList" class="col-md-4 column">
					
				</div>
			</div>
			
			
			
		</div>
	</div>
</div>
</body>
</html>
