{
	"environments":{
	  "<%= @DenvironmentName %>" : {
		"hibernate.dialect": "org.hibernate.dialect.MySQLDialect",
		 "hibernate.driver": "com.mysql.jdbc.Driver",
		 "hibernate.connection.url": "jdbc:mysql://<%= @DB %>:3306/TRIMBLE_SMS_DB",
		 "hibernate.connection.user": "<%= @DBUsername %>",
		 "hibernate.connection.password": "<%= @DBPassword %>"
	  }
	},
	"common":{
		"twilio.base.url": "https://api.twilio.com/2010-04-01",
		"twilio.message.uri": "/2010-04-01/Accounts/{AccountSid}/Messages",
		"twilio.media.uri": "/2010-04-01/Accounts/{AccountSid}/Messages/{MessageSid}/Media/",
		"twilio.account.id": "ACe59c87d7ae267c4de3d075bdaa459f97",
		"twilio.account.authtoken": "25e926507b2a382de45d486f198f94bd",
		"twilio.common.shortcode": "874625",
		"twilio.common.number": "+17205525950",
		"phone.format": "^\\+[ (]?\\d{1,3}[)]?[ ]?[-]?[ ]?\\d{3}[ ]?[-]?[ ]?\\d{3}[ ]?[-]?[ ]?\\d{4}$",
		"message.max.length": "1600"
},
	"mail":{
       "starttls.enable": true,
	   "host": "",
	   "user": "",
	   "password": "",
	   "port": "",
	   "auth": true,
	   "from": ""
	}
}
