        <datasource>
            <name>WSO2_GOVERNANCE_DB</name>
            <description>The datasource used for governance MySQL database</description>
            <jndiConfig>
                <name>jdbc/registry</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
				<%if @shared_services_deployment == true %>
                    <url>jdbc:mysql://<%= @is_mysql_server %>:<%= @is_mysql_port %>/DB_CARBON_IDENTITY?autoReconnect=true</url>
                    <username><%= @is_mysql_username %></username>
                    <password><%= @is_mysql_password %></password>
				<% else %>
					<url>jdbc:mysql://<%= @mysql_server %>:<%= @mysql_port %>/wso2_registry?autoReconnect=true</url>
                    <username><%= @mysql_username %></username>
                    <password><%= @mysql_password %></password>
				<% end %>
                    <driverClassName>com.mysql.jdbc.Driver</driverClassName>
                    <maxActive><%= @max_active %></maxActive>
                    <maxWait><%= @max_wait %></maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT 1</validationQuery>
                    <validationInterval>30000</validationInterval>
                </configuration>
            </definition>
        </datasource>

        <datasource>
            <name>WSO2_USERSTORE_DB</name>
            <description>The datasource used for userstore MySQL database</description>
            <jndiConfig>
                <name>jdbc/userstore</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                <%if @shared_services_deployment == true %>
                    <url>jdbc:mysql://<%= @is_mysql_server %>:<%= @is_mysql_port %>/DB_CARBON_IDENTITY?autoReconnect=true</url>
                    <username><%= @is_mysql_username %></username>
                    <password><%= @is_mysql_password %></password>
				<% else %>
					<url>jdbc:mysql://<%= @mysql_server %>:<%= @mysql_port %>/wso2_userstore?autoReconnect=true</url>
                    <username><%= @mysql_username %></username>
                    <password><%= @mysql_password %></password>
				<% end %>
                    <driverClassName>com.mysql.jdbc.Driver</driverClassName>
                    <maxActive><%= @max_active %></maxActive>
                    <maxWait><%= @max_wait %></maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT 1</validationQuery>
                    <validationInterval>30000</validationInterval>
                </configuration>
            </definition>
        </datasource>

<!-- CONFIG DBS -->

        <datasource>
            <name>WSO2_APPSERVER_CONFIG_DB</name>
            <description>The datasource used for APPSERVER_CONFIG MySQL database</description>
            <jndiConfig>
              <name>jdbc/appserver_config</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                  <url>jdbc:mysql://<%= @mysql_server %>:<%= @mysql_port %>/wso2_appserver_registry?autoReconnect=true</url>
                    <username><%= @mysql_username %></username>
                    <password><%= @mysql_password %></password>
                    <driverClassName>com.mysql.jdbc.Driver</driverClassName>
                    <maxActive><%= @max_active %></maxActive>
                    <maxWait><%= @max_wait %></maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT 1</validationQuery>
                    <validationInterval>30000</validationInterval>
                </configuration>
            </definition>
        </datasource>

<datasource>
            <name>WSO2_ESB_CONFIG_DB</name>
            <description>The datasource used for APPSERVER_CONFIG MySQL database</description>
            <jndiConfig>
              <name>jdbc/esb_config</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                  <url>jdbc:mysql://<%= @mysql_server %>:<%= @mysql_port %>/wso2_esb_registry?autoReconnect=true</url>
                    <username><%= @mysql_username %></username>
                    <password><%= @mysql_password %></password>
                    <driverClassName>com.mysql.jdbc.Driver</driverClassName>
                    <maxActive><%= @max_active %></maxActive>
                    <maxWait><%= @max_wait %></maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT 1</validationQuery>
                    <validationInterval>30000</validationInterval>
                </configuration>
            </definition>
        </datasource>
<datasource>
             <name>WSO2_IS_CONFIG_DB</name>
             <description>The datasource used for IS_CONFIG MySQL database</description>
             <jndiConfig>
                 <name>jdbc/identity_config</name>
             </jndiConfig>
             <definition type="RDBMS">
                 <configuration>
                    <url>jdbc:mysql://<%= @mysql_server %>:<%= @mysql_port %>/wso2_identity_registry?autoReconnect=true</url>
                    <username><%= @mysql_username %></username>
                    <password><%= @mysql_password %></password>
                    <driverClassName>com.mysql.jdbc.Driver</driverClassName>
                    <maxActive><%= @max_active %></maxActive>
                    <maxWait><%= @max_wait %></maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT 1</validationQuery>
                    <validationInterval>30000</validationInterval>
                 </configuration>
             </definition>
         </datasource>


	<datasource>
            <name>WSO2_AM_CONFIG_DB</name>
            <description>The datasource used for AM_CONFIG MySQL database</description>
            <jndiConfig>
                <name>jdbc/apimanager_config</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                    <url>jdbc:mysql://<%= @mysql_server %>:<%= @mysql_port %>/wso2_api_registry?autoReconnect=true</url>
                    <username><%= @mysql_username %></username>
                    <password><%= @mysql_password %></password>
                    <driverClassName>com.mysql.jdbc.Driver</driverClassName>
                    <maxActive><%= @max_active %></maxActive>
                    <maxWait><%= @max_wait %></maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT 1</validationQuery>
                    <validationInterval>30000</validationInterval>
                </configuration>
            </definition>
        </datasource>

	<datasource>
            <name>WSO2AM_DB</name>
            <description>The datasource used for API Manager database</description>
            <jndiConfig>
                <name>jdbc/WSO2AM_DB</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
					<%if @shared_services_deployment == true %>
						<url>jdbc:mysql://<%= @is_mysql_server %>:<%= @is_mysql_port %>/DB_CARBON_IDENTITY?autoReconnect=true&amp;relaxAutoCommit=true</url>
						<username><%= @is_mysql_username %></username>
						<password><%= @is_mysql_password %></password>
					<% else %>
						<url>jdbc:mysql://<%= @mysql_server %>:<%= @mysql_port %>/wso2_apimgr_registry?autoReconnect=true</url>
						<username><%= @mysql_username %></username>
						<password><%= @mysql_password %></password>
					<% end %>
                    <driverClassName>com.mysql.jdbc.Driver</driverClassName>
                    <maxActive><%= @max_active %></maxActive>
                    <maxWait><%= @max_wait %></maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT 1</validationQuery>
                    <validationInterval>30000</validationInterval>
                </configuration>
            </definition>
        </datasource>

	<%if @shared_services_deployment == true %>
        <datasource>
            <name>WSO2AM_STATS_DB</name>
            <description>The datasource used for getting statistics to API Manager</description>
            <jndiConfig>
                <name>jdbc/WSO2AM_STATS_DB</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                    <url>jdbc:mysql://<%= @BAM_DB_SERVER %>:<%= @BAM_dbport %>/<%= @BAM_STATS_DB_NAME %>?autoReconnect=true&amp;relaxAutoCommit=true</url>
                    <username><%= @BAM_user %></username>
                    <password><%= @BAM_password %></password>
                    <driverClassName>com.mysql.jdbc.Driver</driverClassName>
                    <maxActive>50</maxActive>
                    <maxWait>60000</maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT 1</validationQuery>
                    <validationInterval>30000</validationInterval>
                </configuration>
            </definition>
        </datasource>
    <% end %>

