<datasource>
            <name>WSO2_GOVERNANCE_DB</name>
            <description>The datasource used for governance Oracle database</description>
            <jndiConfig>
                <name>jdbc/registry</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                    <url>jdbc:oracle:thin:@<%= @oracle_server_1 %>:<%= @oracle_port %>:tpaas</url>
                    <username>wso2_registry</username>
                    <password>stratos</password>
                    <driverClassName>oracle.jdbc.driver.OracleDriver</driverClassName>
                    <maxActive><%= @max_active %></maxActive>
                    <maxWait><%= @max_wait %></maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT * FROM dual</validationQuery>
                    <validationInterval>30000</validationInterval>
                </configuration>
            </definition>
        </datasource>

	<datasource>
            <name>WSO2_USERSTORE_DB</name>
            <description>The datasource used for userstore Oracle database</description>
            <jndiConfig>
                <name>jdbc/userstore</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                    <url>jdbc:oracle:thin:@<%= @oracle_server_1 %>:<%= @oracle_port %>:tpaas</url>
                    <username>wso2_userstore</username>
                    <password>stratos</password>
                    <driverClassName>oracle.jdbc.driver.OracleDriver</driverClassName>
                    <maxActive><%= @max_active %></maxActive>
                    <maxWait><%= @max_wait %></maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT * FROM dual</validationQuery>
                    <validationInterval>30000</validationInterval>
                </configuration>
            </definition>
        </datasource>
	
<!-- CONFIG DBS -->

	<datasource>
            <name>WSO2_APPSERVER_CONFIG_DB</name>
            <description>The datasource used for APPSERVER_CONFIG Oracle database</description>
            <jndiConfig>
                <name>jdbc/appserver_config</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                    <url>jdbc:oracle:thin:@<%= @oracle_server_1 %>:<%= @oracle_port %>:tpaas</url>
                    <username>wso2_appserver_registry</username>
                    <password>stratos</password>
                    <driverClassName>oracle.jdbc.driver.OracleDriver</driverClassName>
                    <maxActive><%= @max_active %></maxActive>
                    <maxWait><%= @max_wait %></maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT * FROM dual</validationQuery>
                    <validationInterval>30000</validationInterval>
                </configuration>
            </definition>
        </datasource>

       	<datasource>
            <name>WSO2_ESB_CONFIG_DB</name>
            <description>The datasource used for ESB_CONFIG Oracle database</description>
            <jndiConfig>
                <name>jdbc/esb_config</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                    <url>jdbc:oracle:thin:@<%= @oracle_server_1 %>:<%= @oracle_port %>:tpaas</url>
                    <username>wso2_esb_registry</username>
                    <password>stratos</password>
                    <driverClassName>oracle.jdbc.driver.OracleDriver</driverClassName>
                    <maxActive><%= @max_active %></maxActive>
                    <maxWait><%= @max_wait %></maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT * FROM dual</validationQuery>
                    <validationInterval>30000</validationInterval>
                </configuration>
            </definition>
        </datasource>

 	<datasource>
             <name>WSO2_IS_CONFIG_DB</name>
             <description>The datasource used for IS_CONFIG Oracle database</description>
             <jndiConfig>
                 <name>jdbc/identity_config</name>
             </jndiConfig>
             <definition type="RDBMS">
                 <configuration>
                    <url>jdbc:oracle:thin:@<%= @oracle_server_1 %>:<%= @oracle_port %>:tpaas</url>
                    <username>wso2_identity_registry</username>
                    <password>stratos</password>
                    <driverClassName>oracle.jdbc.driver.OracleDriver</driverClassName>
                    <maxActive><%= @max_active %></maxActive>
                    <maxWait><%= @max_wait %></maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT * FROM dual</validationQuery>
                    <validationInterval>30000</validationInterval>
                 </configuration>
             </definition>
         </datasource>


	<datasource>
            <name>WSO2_AM_CONFIG_DB</name>
            <description>The datasource used for AM_CONFIG Oracle database</description>
            <jndiConfig>
                <name>jdbc/apimanager_config</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                    <url>jdbc:oracle:thin:@<%= @oracle_server_1 %>:<%= @oracle_port %>:tpaas</url>
                    <username>wso2_api_registry</username>
                    <password>stratos</password>
                    <driverClassName>oracle.jdbc.driver.OracleDriver</driverClassName>
                    <maxActive><%= @max_active %></maxActive>
                    <maxWait><%= @max_wait %></maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT * FROM dual</validationQuery>
                    <validationInterval>30000</validationInterval>
                </configuration>
            </definition>
        </datasource>

	<datasource>
            <name>WSO2AM_DB</name>
            <description>The datasource used for API Manager database</description>
            <jndiConfig>
                <name>jdbc/WSO2AM_DB</name>
            </jndiConfig>
            <definition type="RDBMS">
                <configuration>
                    <url>jdbc:oracle:thin:@<%= @oracle_server_1 %>:<%= @oracle_port %>:tpaas</url>
                    <username>wso2_apimgr_registry</username>
                    <password>stratos</password>
                    <driverClassName>oracle.jdbc.driver.OracleDriver</driverClassName>
                    <maxActive><%= @max_active %></maxActive>
                    <maxWait><%= @max_wait %></maxWait>
                    <minIdle>5</minIdle>
                    <testOnBorrow>true</testOnBorrow>
                    <validationQuery>SELECT * FROM dual</validationQuery>
                    <validationInterval>30000</validationInterval>
                </configuration>
            </definition>
        </datasource>

