#!/bin/bash

WHICH=`/usr/bin/which which` 
PUPPET=`${WHICH} puppet`
GREP=`${WHICH} grep`
PS=`${WHICH} ps`
SLEEP=`${WHICH} sleep`
AWK=`${WHICH} awk`
ENV=`${GREP} environment /etc/puppet/puppet.conf | ${AWK} -F'=' '{print $NF}'`
CERTNAME="${ENV}-$HOSTNAME"
CHKCONFIG=`${WHICH} chkconfig`
ARTILINK=$1
STRATOS_DIR=/paas/wso2
SCEDULER_DIR=/paas/wso2/scheduler


if [ -z "$ARTILINK" ]
then
        echo "http://artifactory.trimblepaas.com/artifactory/libs-snapshot-local/com/trimble/sms/1.0.1-SNAPSHOT/" > /etc/artiurl
else
        ARTILINK="$1"
        echo $ARTILINK > /etc/artiurl
fi


COMMAND="${PUPPET} agent -vt --certname $CERTNAME"


#if [ $# -eq 1 ]; then 
#	SERVICES=$@; COMMAND="${PUPPET} agent -vt --tags ${SERVICES} --certname $CERTNAME"
#elif [ $# -eq 0 ]; then
#	COMMAND="${PUPPET} agent -vt --certname $CERTNAME"
#fi

read_master() {
	local COUNT=0
	[ ${COUNT} == 10 ] && exit 1 || true
	${COMMAND}
	${PS} -auwx | ${GREP} java | ${GREP} wso2
#	[ $? == 0 ] && true || (read_master ; COUNT=`expr ${COUNT} + 1`)
}

${PUPPET} agent --enable

read_master

${PUPPET} agent --disable


mkdir -p $SCEDULER_DIR
chown tpaas. -R $SCEDULER_DIR

waittime=0
while true
do

        if [ `netstat -ntpl | grep ":9443" | wc -l ` == "1" ]
        then
                echo Server running. Starting Scheduler
nohup java -cp $CLASSPATH:/paas/wso2/AS_W/wso2as-5.2.1/repository/deployment/server/webapps/sms-1.0/WEB-INF/lib/*:/paas/wso2/AS_W/wso2as-5.2.1/repository/deployment/server/webapps/sms-1.0/WEB-INF/classes/  -DenvironmentName=<%= @DenvironmentName %>  -Dconfig.file=/paas/wso2/AS_W/wso2as-5.2.1/repository/conf/config.json Scheduler  & &> $SCEDULER_DIR/scheduler.out
        echo $! > $SCEDULER_DIR/wso2carbon.pid
                break
        else
                echo sleeping.. Waiting for wso2 server to start. Scheduler will be enabled once started
                waittime=$(( $waittime + 1 ))
                if [ $waittime -eq 25 ]
                then
                echo timed out. Unable to start scheduler .
                break
                fi
                sleep 30
        fi

done

exit 0

