127.0.0.1           localhost
<%= @ipaddress %>    local.<%= @domain %>
<%= @ipaddress %>    bind.<%= @domain %>
<%= @ipaddress %>    <%= @fqdn %>
<%- @hosts_map.each do |hosts| -%>
<%- host = hosts.split (',') -%>
<%= host[0]  %> <%= host[1] %>
<%- end -%>
