        <UserStoreManager class="org.wso2.carbon.user.core.ldap.ReadOnlyLDAPUserStoreManager">
            <Property name="TenantManager">org.wso2.carbon.user.core.tenant.CommonHybridLDAPTenantManager</Property>
            <Property name="ReadOnly">true</Property>
            <Property name="Disabled">false</Property>                       
            <Property name="MaxUserNameListLength">100</Property>
            <Property name="ConnectionURL"><%= @ldap_connection_uri %></Property>
            <Property name="ConnectionName"><%= @bind_dn %></Property>
            <Property name="ConnectionPassword"><%= @bind_dn_password %></Property>
            <Property name="passwordHashMethod"><%= @password_hash_method %></Property>
            <Property name="UserSearchBase"><%= @user_serch_base %></Property>
            <Property name="UserNameListFilter"><%= @username_list_filter %></Property>
            <Property name="UserNameSearchFilter"><%= @username_search_filter %></Property>
            <Property name="UserNameAttribute"><%= @username_attribute %></Property>
            <Property name="ReadGroups"><%= @read_groups %></Property>
            <Property name="GroupSearchBase"><%= @group_search_base %></Property>
            <Property name="GroupNameListFilter"><%= @groupname_list_filter %></Property>
            <Property name="GroupNameSearchFilter"><%= @groupname_search_filter %></Property>
            <Property name="GroupNameAttribute"><%= @groupname_attribute %></Property>
            <Property name="SharedGroupNameAttribute"><%= @sharedgroupname_attribute %></Property>
            <Property name="SharedGroupSearchBase"><%= @sharedgroup_search_base %></Property>
            <Property name="SharedGroupNameListFilter"><%= @sharedgroupname_list_filter %></Property>
            <Property name="SharedTenantNameListFilter"><%= @sharedtenant_list_filter %></Property>
            <Property name="SharedTenantNameAttribute"><%= @sharedtenant_attribute %></Property>
            <Property name="SharedTenantObjectClass"><%= @sharedtenant_objectclass %></Property>
            <Property name="MembershipAttribute"><%= @membership_attribute %></Property>
            <Property name="UserRolesCacheEnabled"><%= @user_roles_cache_enabled %></Property>
            <Property name="ReplaceEscapeCharactersAtUserLogin">true</Property>
            <Property name="MaxRoleNameListLength">100</Property>
            <Property name="MaxUserNameListLength">100</Property>
            <Property name="SCIMEnabled">false</Property>
        </UserStoreManager>
